<!DOCTYPE html>
<html>

<head>
    <title>ENIGMA HUMANO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/derechos.css" />
    <link rel="stylesheet" href="../static/css/anatomia.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body class="is-preload">
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="../static/img/logo1.png" width="78px" height="78px" alt="logo">
        </div>
        <div class="separatorv"></div>
        <div class="title">
            <div class="upp">
                <h1>Enigma Humano</h1>
            </div>
            <div class="downn">
                <h3>ANATOMÍA DEL SISTEMA REPRODUCTOR</h3>
            </div>
        </div>
        <div class="separatorv"></div>
        <h1 class="slogan">
            ESCUCHA TU CUERPO
            <span class="rainbow">
                RESPETALO Y AMALO
            </span>
            PORQUE ES EL TEMPLO QUE ALBERGA TU SENSUALIDAD Y TU ENERGIA VITAL
        </h1>
    </header>

    <!-- Menu -->
    <div class="menu">
        <nav>
            <ul>
                <li><a href="index.html"><i class="fas fa-home"></i> <span>Inicio</span></a></li>
                <li><a href="juegos.html"><i class="fas fa-gamepad"></i> <span>Juegos</span></a></li>
                <li><a href="historietas.html"><i class="fas fa-book-open"></i> <span>Historietas</span></a></li>


                <li class="dropdown">
                    <a href="temas.html" class="dropbtn"><i class="fas fa-book-bookmark"></i> <span>Temas</span></a>
                    <div class="dropdown-content">
                        <a href="derechos.html">Derechos Sexuales y Reproductivos</a>
                        <a href="anatomiaF.html">Anatomía del Sistema Reproductor Femenino</a>
                        <a href="anatomiaM.html">Anatomía del Sistema Reproductor Masculino</a>
                        <a href="anticonceptivos.html">Métodos Anticonceptivos</a>
                        <a href="embarazo.html">Embarazo</a>
                        <a href="ets.html">ETS</a>
                        <a href="ciclomenstrual.html">Ciclo Menstrual</a>
                    </div>
                </li>

                <li><a href="pubertad.html"><i class="fas fa-children"></i> <span>Conozco mi Cuerpo</span></a></li>
            </ul>
        </nav>
    </div>

    <div class="inner">
        <!-- Content -->
        <section>
            <div class="content">
                <div class="generalidades">
                    <div class="major">
                        <h2>Aparato reproductor</h2>
                    </div>
                    <p class="descrip">Conjunto de <b>tejidos</b>, glándulas y <b>órganos</b> que participan en la
                        <b><i>procreación</i></b> (tener hijos). En la mujer, abarca los <b>ovarios</b>, las <b>trompas
                            de Falopio</b>, el <b>útero</b>, el <b><i>cuello uterino</i></b> y la <b>vagina</b>. En el
                        hombre, abarca la <b><i>próstata</i></b>, los <b>testículos</b> y el <b>pene</b>. También se
                        llama aparato <b><i>genital</i></b> y sistema reproductor.
                    </p>
                    <br><br>
                    <div class="aparato-reproductor male">
                        <div class="titulo expandable-title" data-target="male-content">
                            <h2>Aparato Reproductor Masculino <span class="arroww">▼</span></h2>
                        </div>
                        <div class="initial-content">
                            <div class="image lefti">
                                <img src="../static/img/genero-masculino.png" alt="" class="secon" />
                            </div>
                            <p>
                                Los órganos sexuales <b>masculinos</b> están constituidos por una compleja disposición
                                de
                                órganos genitales internos y externos. Su función es la reproducción y el placer sexual.
                                El
                                sistema reproductor masculino, también conocido como el <b><i>aparato
                                        reproductor</i></b>
                                masculino, es el responsable de la reproducción, es decir: la producción de
                                <i><b>gametos</b></i> para la fecundación del óvulo (huevo o gameto) de la mujer. De
                                manera
                                similar a otros sistemas del cuerpo humano, el sistema reproductor masculino está
                                constituido por <b>órganos</b>, pero además, también de algunas <b>glándulas</b> y
                                <b>conductos</b>.
                            </p>
                        </div>
                        <div id="male-content" class="expandable-content">
                            <p>Los órganos genitales <b>masculinos</b> comprenden:</p><br>
                            <div class="center">
                                <p>
                                <div class="reproductive-system-container">
                                    <div class="external-organs">
                                        <h3>Órganos genitales externos (colectivamente = vulva)</h3>
                                        <ul>
                                            <li>Testículos</li>
                                            <li>Escroto</li>
                                            <li>Pene</li>
                                        </ul>
                                    </div>

                                    <div class="system-image">
                                        <img src="../static/img/malereproductivesystem_sp.png"
                                            alt="Sistema reproductivo femenino" width="350px">
                                    </div>

                                    <div class="internal-organs">
                                        <h3>Órganos genitales internos</h3>
                                        <ul>
                                            <li>Conductos deferentes</li>
                                            <li>Vesículas seminales</li>
                                            <li>Conductos eyaculadores</li>
                                        </ul>
                                    </div>
                                </div>
                                </p>
                            </div>
                            <br><br>
                            <h1>Organos Genitales Externos</h1>
                            <div class="contenedor-dos">
                                <div class="tarjeton-row">
                                    <div class="tarjeton-fila">
                                        <h3>Pene</h3>
                                        <p>
                                            <span class="image left">
                                                <img src="../static/img/pene.png" width="100px" height="100px" alt="">
                                            </span>
                                            El pene es el órgano de la <b>copulación</b> en el hombre. Sirve de salida
                                            común
                                            para la
                                            orina y el semen o líquido seminal. Consiste en un cuerpo y una raíz. En la
                                            punta
                                            del
                                            pene,
                                            el cuerpo esponjoso forma el <b>glande</b> que cubre los extremos libres de
                                            los
                                            cuerpos
                                            cavernosos. Cerca del extremo final del glande se encuentra el orificio de
                                            la uretra
                                            esponjosa u orificio externo de la uretra.
                                        </p>
                                        <br>
                                    </div>
                                    <div class="tarjeton-fila">
                                    <h3>Escroto</h3>
                                    <p>
                                        <span class="image left">
                                            <img src="../static/img/testiculos.png" width="100px" height="100px" alt="">
                                        </span>
                                        El <b>escroto</b> es un <b>saco cutáneo</b> exterior que contiene los testículos
                                        y
                                        está
                                        situado posteroinferiormente en relación al pene e inferiormente en relación a
                                        la
                                        sínfisis
                                        del pubis, En respuesta a las <b>bajas temperaturas</b> el músculo <i>dartos</i>
                                        se
                                        <b>contrae</b> con lo que se arruga la piel del escroto y se <b>reduce</b> la
                                        pérdida de
                                        calor y el músculo <i>cremáster</i> en cada lado también se <b>contrae</b> con
                                        lo
                                        que
                                        los
                                        testículos son acercados al cuerpo para estar cerca del <b>calor corporal</b>.
                                    </p>
                                        
                                    </div>
                                    <h3>Testículos</h3>
                                        <p>
                                            <span class="image right">
                                                <img src="../static/img/testiculo.png" width="100px" height="100px"
                                                    alt="">
                                            </span>
                                            Los testículos son dos <b><i>glándulas ovoides</i></b>, una a cada lado del
                                            pene,
                                            que
                                            están
                                            suspendidas dentro del <i>escroto</i> por el cordón espermático. Producen
                                            las
                                            <b>células
                                                germinale</b> masculinas o <b><i>espermatozoides</i></b> y las hormonas
                                            sexuales
                                            masculinas o <u><b>andrógenos</b></u>. En el interior de cada testículo, los
                                            espermatozoides
                                            se forman en varios cientos de <b>túbulos</b> seminíferos que se unen para
                                            formar
                                            una
                                            red de
                                            <b>canales</b> que recibe el nombre de <i><b>rete testis</b></i>. Pequeños
                                            conductos
                                            conectan la rete testis con el <b>epidídimo</b>. Los túbulos seminíferos
                                            contienen
                                            dos
                                            tipos
                                            de células, las células espermatogénicas, que darán lugar a los
                                            espermatozoides.
                                        </p>
                                </div>
                                
                            </div>

                            <h2>Órganos genitales internos</h2>
                            <div class="internos uno">
                                <h3>Conductos Deferentes</h3>
                                <p>
                                    Los <b><i>conductos deferentes</i></b> son 2 tubos musculares de pared gruesa que
                                    comienzan
                                    en la cola del <i>epidídimo</i> de cada lado y terminan en el conducto
                                    <b>eyaculador</b>.
                                    <b>Transportan</b> esperma desde el epidídimo al conducto eyaculador de su lado.
                                </p>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <ul class="contact">
                <li class="icon"><i class="fa fa-envelope"></i><a href="#">uncorreo@inseandes.edu.co</a></li>
                <li class="icon"><i class="fa fa-phone"></i>(+57) 311 589 9115</li>
                <li class="icon"><i class="fa fa-home"></i>Clle 4 #10-27 / Sogamoso, Boyacá</li>
                <li class="icon"><i class="fab fa-facebook"></i><a
                        href="https://www.facebook.com/profile.php?id=100054555904478" target="_blank">Facebook
                        Inseandes</a></li>
            </ul>

            <div class="copyright">
                <p>&copy; <a href="http://www.inseandes.edu.co">Institución Educativa Técnica Industrial y
                        Agroindustrial Los Andes</a></p>
            </div>
        </div>
    </footer>
    <script src="../static/js/anatomia.js"></script>
    <script src="../static/js/derechos.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>