<!DOCTYPE html>
<html>

<head>
    <title>ENIGMA HUMANO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/derechos.css" />
    <link rel="stylesheet" href="../static/css/anatomia.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body class="is-preload">
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="../static/img/logo1.png" width="78px" height="78px" alt="logo">
        </div>
        <div class="separatorv"></div>
        <div class="title">
            <div class="upp">
                <h1>Enigma Humano</h1>
            </div>
            <div class="downn">
                <h3>ANATOMÍA DEL SISTEMA REPRODUCTOR</h3>
            </div>
        </div>
        <div class="separatorv"></div>
        <h1 class="slogan">
            ESCUCHA TU CUERPO
            <span class="rainbow">
                RESPETALO Y AMALO
            </span>
            PORQUE ES EL TEMPLO QUE ALBERGA TU SENSUALIDAD Y TU ENERGIA VITAL
        </h1>
    </header>

    <!-- Menu -->
    <div class="menu">
        <nav>
            <ul>
                <li><a href="index.html"><i class="fas fa-home"></i> <span>Inicio</span></a></li>
                <li><a href="juegos.html"><i class="fas fa-gamepad"></i> <span>Juegos</span></a></li>
                <li><a href="historietas.html"><i class="fas fa-book-open"></i> <span>Historietas</span></a></li>


                <li class="dropdown">
                    <a href="temas.html" class="dropbtn"><i class="fas fa-book-bookmark"></i> <span>Temas</span></a>
                    <div class="dropdown-content">
                        <a href="derechos.html">Derechos Sexuales y Reproductivos</a>
                        <a href="anatomiaF.html">Anatomía del Sistema Reproductor Femenino</a>
                        <a href="anatomiaM.html">Anatomía del Sistema Reproductor Masculino</a>
                        <a href="anticonceptivos.html">Métodos Anticonceptivos</a>
                        <a href="embarazo.html">Embarazo</a>
                        <a href="ets.html">ETS</a>
                        <a href="ciclomenstrual.html">Ciclo Menstrual</a>
                    </div>
                </li>

                <li><a href="pubertad.html"><i class="fas fa-children"></i> <span>Conozco mi Cuerpo</span></a></li>
            </ul>
        </nav>
    </div>

    <div class="inner">
        <!-- Content -->
        <section>
            <div class="content">
                <div class="generalidades">
                    <div class="major">
                        <h2>Aparato reproductor</h2>
                    </div>
                    <p class="descrip">Conjunto de <b>tejidos</b>, glándulas y <b>órganos</b> que participan en la
                        <b><i>procreación</i></b> (tener hijos). En la mujer, abarca los <b>ovarios</b>, las <b>trompas
                            de Falopio</b>, el <b>útero</b>, el <b><i>cuello uterino</i></b> y la <b>vagina</b>. En el
                        hombre, abarca la <b><i>próstata</i></b>, los <b>testículos</b> y el <b>pene</b>. También se
                        llama aparato <b><i>genital</i></b> y sistema reproductor.
                    </p>
                    <br><br>
                    <div class="aparato-reproductor female">
                        <div class="titulo expandable-title" data-target="female-content">
                            <h2>Aparato Reproductor Femenino <span class="arroww">▼</span></h2>
                        </div>
                        <div class="initial-content">
                            <div class="image lefti">
                                <img src="../static/img/signo-de-genero.png" alt="" class="secon" />
                            </div>
                            <p>
                                Los órganos del aparato reproductor <b>femenino</b> constan de genitales
                                <b>internos</b> y <b>externos</b>. Juntos comprenden el sistema reproductor o sistema
                                reproductivo femenino, permitiendo las actividades <b>sexuales</b> y
                                <b>reproductivas</b>.
                                Los órganos reproductores femeninos experimentan importantes <b>cambios</b>
                                estructurales y
                                funcionales <b>cada mes</b>. Estos cambios no sólo están ahí para "complicar" la vida de
                                las
                                mujeres, sino que también tienen una función <b>crucial</b> en el inicio del embarazo.
                                Si no
                                se
                                produce el embarazo, el <b><i>revestimiento endometrial proliferado</i></b> se rompe y
                                se
                                desprende, saliendo por la vagina como <b>sangre menstrual</b>. Estas actividades
                                ocurren
                                bajo
                                la influencia de <b><u>hormonas</u></b> secretadas por los órganos sexuales femeninos
                                (<i>ovarios</i>), según lo determina el <b>sistema endocrino</b>. Las hormonas sexuales
                                femeninas también tienen un papel importante en la maduración sexual.
                            </p>
                        </div>
                        <div id="female-content" class="expandable-content">
                            <p>Los órganos genitales <b>femeninos</b> comprenden:</p><br>
                            <div class="center">
                                <p>
                                <div class="reproductive-system-container">
                                    <div class="external-organs">
                                        <h3>Órganos genitales externos (colectivamente = vulva)</h3>
                                        <ul>
                                            <li>Monte de Venus</li>
                                            <li>Labios mayores</li>
                                            <li>Labios menores</li>
                                            <li>Clítoris</li>
                                        </ul>
                                    </div>

                                    <div class="system-image">
                                        <img src="../static/img/femalereproductivesystem_sp.png"
                                            alt="Sistema reproductivo femenino" width="350px">
                                    </div>

                                    <div class="internal-organs">
                                        <h3>Órganos genitales internos</h3>
                                        <ul>
                                            <li>Vagina</li>
                                            <li>Útero</li>
                                            <li>Trompas de Falopio</li>
                                            <li>Ovarios</li>
                                        </ul>
                                    </div>
                                </div>
                                </p>
                            </div>
                            <br><br>

                            <div class="listado">
                                <h2>Órganos genitales Externos</h2>
                                <div class="carousel-container">
                                    <button class="arrow left-arrow"><i class="fas fa-chevron-left"></i></button>
                                    <div class="container-card">
                                        <div class="card">
                                            <figure>
                                                <img src="../static/img/montevenus.jpg">
                                            </figure>
                                            <div class="contenido-card">
                                                <h3>MONTE DE VENUS</h3>
                                                <a href="#" class="read-more">Leer Más</a>
                                                <div class="modal-content-html" style="display: none;">
                                                    <h2>MONTE DE VENUS</h2>
                                                    <P>
                                                        El monte del pubis es una eminencia redondeada que se encuentra
                                                        por
                                                        delante de la sínfisis del pubis. Está formada por tejido
                                                        adiposo
                                                        recubierto de piel con vello pubico.
                                                    </P>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <figure>
                                                <img src="../static/img/Vulva.png">
                                            </figure>
                                            <div class="contenido-card">
                                                <h3>VESTIBULO DE LA VAGINA</h3>
                                                <a href="#" class="read-more">Leer Más</a>
                                                <div class="modal-content-html" style="display: none;">
                                                    <h2>VESTIBULO DE LA VAGINA</h2>
                                                    <P>
                                                        El vestíbulo de la vagina es el espacio situado entre los labios
                                                        menores
                                                        y
                                                        en él
                                                        se
                                                        localizan los orificios de la uretra, de la vagina y de los
                                                        conductos de
                                                        salida
                                                        de las
                                                        glándulas vestibulares mayores.
                                                    </P>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <figure>
                                                <img src="../static/img/LABIOSMENORES.jpeg">
                                            </figure>
                                            <div class="contenido-card">
                                                <h3>LABIOS MENORES</h3>
                                                <a href="#" class="read-more">Leer Más</a>
                                                <div class="modal-content-html" style="display: none;">
                                                    <h2>LABIOS MENORES</h2>
                                                    <P>
                                                        Los labios menores son dos delicados pliegues de piel que no
                                                        contienen
                                                        tejido
                                                        adiposo
                                                        subcutáneo ni están cubiertos por vello pero que poseen
                                                        glándulas
                                                        sebáceas y
                                                        sudoríparas. Los labios menores se encuentran entre los labios
                                                        mayores y
                                                        rodean
                                                        el
                                                        vestíbulo de la vagina.
                                                    </P>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <figure>
                                                <img src="../static/img/labiosmayores.jpg">
                                            </figure>
                                            <div class="contenido-card">
                                                <h3>LABIOS MAYORES</h3>
                                                <a href="#" class="read-more">Leer Más</a>
                                                <div class="modal-content-html" style="display: none;">
                                                    <h2>LABIOS MAYORES</h2>
                                                    <P>
                                                        Los labios mayores son dos grandes pliegues de piel que
                                                        contienen en su
                                                        interior
                                                        tejido
                                                        adiposo subcutáneo y que se dirigen hacia abajo y hacia atrás
                                                        desde el
                                                        monte
                                                        del
                                                        pubis.
                                                        Después de la pubertad, sus superficies externas quedan
                                                        revestidas de
                                                        piel
                                                        pigmentada
                                                        que contiene glándulas sebáceas y sudoríparas y recubierta por
                                                        vello.
                                                    </P>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <figure>
                                                <img src="../static/img/CLITORIS.jpg">
                                            </figure>
                                            <div class="contenido-card">
                                                <h3>CLITORIS</h3>
                                                <a href="#" class="read-more">Leer Más</a>
                                                <div class="modal-content-html" style="display: none;">
                                                    <h2>CLITORIS</h2>
                                                    <P>
                                                        El clítoris es un pequeño órgano cilíndrico compuesto por tejido
                                                        eréctil.
                                                        Tiene
                                                        2 - 3
                                                        cm. de longitud y está localizado entre los extremos anteriores
                                                        de los
                                                        labios
                                                        menores.
                                                        Consiste en: dos pilares, dos cuerpos cavernosos y un glande y
                                                        se
                                                        mantiene
                                                        en su
                                                        lugar
                                                        por la acción de varios ligamentos.
                                                    </P>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="arrow right-arrow"><i class="fas fa-chevron-right"></i></button>
                                </div>
                            </div>
                            <br><br>
                            <div class="listado">
                                <h2>Órganos genitales internos</h2>
                                <div class="carousel-container">
                                    <button class="arrow left-arrow"><i class="fas fa-chevron-left"></i></button>
                                    <div class="container-card">
                                        <div class="card">
                                            <figure>
                                                <img src="../static/img/vagina (1).png">
                                            </figure>
                                            <div class="contenido-card">
                                                <h3>VAGINA</h3>
                                                <a href="#" class="read-more">Leer Más</a>
                                                <div class="modal-content-html" style="display: none;">
                                                    <h2>Vagina</h2>
                                                    <p>
                                                        La vagina es el órgano femenino de la <b><i>copulación</i></b>,
                                                        el lugar por el
                                                        que sale
                                                        el
                                                        <b>líquido menstrual</b> al exterior y el extremo inferior del
                                                        canal del
                                                        <b>parto</b>.
                                                        Se
                                                        trata
                                                        de un tubo <b><i>músculomembranoso</i></b> que se encuentra por
                                                        detrás de la
                                                        vejiga
                                                        urinaria
                                                        y
                                                        por delante del recto. La vagina comunica por su parte superior
                                                        con la cavidad
                                                        uterina
                                                        ya
                                                        que el
                                                        cuello del útero se proyecta en su interior, quedando rodeado
                                                        por un fondo de
                                                        saco
                                                        vaginal.
                                                        En
                                                        esta zona es donde debe quedar colocado el <b><i>diafragma
                                                                anticonceptivo</i></b>. El
                                                        útero
                                                        se
                                                        encuentra casi en ángulo recto con el eje de la vagina.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <figure>
                                                <img src="../static/img/utero.png">
                                            </figure>
                                            <div class="contenido-card">
                                                <h3>ÚTERO O MATRIZ</h3>
                                                <a href="#" class="read-more">Leer Más</a>
                                                <div class="modal-content-html" style="display: none;">
                                                    <h2>ÚTERO O MATRIZ</h2>
                                                    <P>
                                                        El útero es un <b><u>órgano muscular</u></b> hueco con forma de
                                                        pera que
                                                        constituye
                                                        parte
                                                        del
                                                        camino que siguen los espermatozoides depositados en la vagina
                                                        hasta alcanzar
                                                        las
                                                        trompas de
                                                        Falopio, su tamaño es <b>mayor</b> después de embarazos
                                                        recientes y más
                                                        <b>pequeño</b>
                                                        cuando
                                                        los niveles hormonales son bajos como sucede en la
                                                        <b><i>menopausia</i></b>.
                                                        Varios
                                                        ligamentos
                                                        mantienen al útero en posición.
                                                    </P>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <figure>
                                                <img src="../static/img/trompa-de-falopio.png">
                                            </figure>
                                            <div class="contenido-card">
                                                <h3>TROMPAS DE FALOPIO</h3>
                                                <a href="#" class="read-more">Leer Más</a>
                                                <div class="modal-content-html" style="display: none;">
                                                    <h2>TROMPAS DE FALOPIO</h2>
                                                    <P>
                                                        Las trompas de Falopio son 2 conductos de 10 - 12 cm. de
                                                        longitud y 1 cm. de
                                                        diámetro
                                                        que se
                                                        unen a los cuernos del útero por cada lado. Están diseñadas para
                                                        <b>recibir los
                                                            ovocitos</b>
                                                        que
                                                        salen de los ovarios y en su interior se produce el encuentro de
                                                        los
                                                        espermatozoides con
                                                        el
                                                        óvulo y la <b>fecundación</b>. La pared de las trompas tiene una
                                                        capa interna o
                                                        mucosa
                                                        con
                                                        un
                                                        epitelio simple columnar ciliado que ayuda a <b>transportar</b>
                                                        el ovocito hasta
                                                        el
                                                        <b>útero</b>
                                                        junto a células secretoras que producen nutrientes para el
                                                        mismo.
                                                    </P>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <figure>
                                                <img src="../static/img/ovario.png">
                                            </figure>
                                            <div class="contenido-card">
                                                <h3>OVARIOS</h3>
                                                <a href="#" class="read-more">Leer Más</a>
                                                <div class="modal-content-html" style="display: none;">
                                                    <h2>OVARIOS</h2>
                                                    <P>
                                                        Los ovarios son 2 <b>cuerpos ovalados</b> en forma de almendra,
                                                        se localiza uno
                                                        a cada
                                                        lado
                                                        del
                                                        útero y se mantienen en posición por varios <b>ligamentos</b>.
                                                        En los ovarios se
                                                        forman
                                                        los
                                                        gametos femeninos u óvulos, que pueden ser fecundados por los
                                                        espermatozoides a
                                                        nivel de
                                                        las
                                                        trompas de Falopio, y se producen y secretan a la sangre una
                                                        serie de hormonas
                                                        como la
                                                        <b><i>progesterona</i></b> y los <b><i>estrógenos</i></b>. En
                                                        los ovarios se
                                                        encuentran
                                                        los
                                                        <i>folículos ováricos</i> que contienen los ovocitos en sus
                                                        distintas fases de
                                                        desarrollo y
                                                        las
                                                        células que nutren a los mismos y que, además, secretan
                                                        estrógenos a la sangre,
                                                        a medida
                                                        que
                                                        los
                                                        ovocitos van aumentando de tamaño. El folículo maduro o folículo
                                                        De Graaf es
                                                        grande,
                                                        está
                                                        lleno
                                                        de líquido y preparado para romperse y liberar el ovocito que
                                                        será recogido por
                                                        el
                                                        infundíbulo
                                                        de las trompas de Falopio. A este proceso se le llama
                                                        <b>ovulación</b>.
                                                    </P>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="arrow right-arrow"><i class="fas fa-chevron-right"></i></button>
                                </div>
                            </div>
                            <div id="modal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <div id="modal-content"></div>
                                </div>
                            </div>
                            <br>
                            <h2>Funciones</h2>
                            <div class="contenedor-dos">
                                <div class="tarjeton-row">
                                    <div class="tarjeton-fila">
                                        <h3>Ovarios</h3>
                                        <p>
                                            La
                                            principal función de los ovarios es la <b>producción</b> de óvulos.
                                            Durante la ovulación, el ovario (derecho o el izquierdo) produce <b>un
                                                solo</b>óvulo
                                            maduro, el
                                            cual se desprenderá durante la menstruación y estará listo para su
                                            fecundación
                                            por
                                            parte del
                                            esperma del hombre.
                                            Otra de las funciones de los ovarios es la de <b>producir</b> hormonas
                                            femeninas
                                            estrógenos y la
                                            progesterona, las cuales son las encargadas del adecuado funcionamiento
                                            de
                                            los
                                            órganos sexuales
                                            de la mujer.
                                        </p><br>
                                        <h3>Vagina</h3>
                                        <p>Aunque la vagina juega un <b>papel fundamental</b> en la reproducción
                                            humana,
                                            su
                                            función se puede
                                            resumir en:</p>
                                        <ul>
                                            <li>Sirve de paso y salida a la <b>menstruación</b>.</li>
                                            <li>Por medio de ella se <b>elimina</b> el moco cervical.</li>
                                            <li>Es el canal del <b>parto</b>.</li>
                                            <li>Desde ella, los espermatozoides <b>ascienden</b> para fecundar el
                                                óvulo.
                                            </li>
                                            <li>Se produce la primera <b>selección</b> de los espermatozoides.</li>
                                        </ul>
                                    </div>
                                    <div class="tarjeton-fila">
                                        <h3>Trompas de Falopio</h3>
                                        <p>La función esencial es <b>comunicar</b> los ovarios con el útero y
                                            <b>ser</b>
                                            el
                                            lugar en el que
                                            el óvulo puede ser fecundado.
                                        <ul>
                                            <li>Se encargan de <b>succionar</b> el óvulo que sale del ovario y lo
                                                <b>transporta</b> hacia el
                                                útero.
                                            </li>
                                            <li>La fecundación del óvulo siempre se presenta cuando el óvulo está
                                                <b>recorriendo</b> la
                                                trompa (no se presenta en el útero porque cuando llega aquí <b>se
                                                    deshace</b>).
                                            </li>
                                            <li>El espermatozoide tiene que <b>encontrar</b> al ovocito en el
                                                recorrido
                                                de
                                                las
                                                trompas para
                                                poder fecundarlo y <b>permanecer</b> en esta zona durante 2 ó 3 días
                                                antes
                                                de
                                                llegar al
                                                útero donde comenzará a <b><i>crecer el embrión</i></b>.</li>
                                        </ul>
                                        </p><br>
                                        <h3>Útero</h3>
                                        <p>
                                            El
                                            útero es el encargado de la <b><i>gestación</i></b>. Su principal
                                            función es <b>conservar</b> el óvulo fecundado y ofrecerle las
                                            condiciones
                                            óptimas
                                            para que
                                            desarrolle el <i>embrión</i> en su interior.
                                        </p>
                                    </div>

                                </div>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <ul class="contact">
                <li class="icon"><i class="fa fa-envelope"></i><a href="#">uncorreo@inseandes.edu.co</a></li>
                <li class="icon"><i class="fa fa-phone"></i>(+57) 311 589 9115</li>
                <li class="icon"><i class="fa fa-home"></i>Clle 4 #10-27 / Sogamoso, Boyacá</li>
                <li class="icon"><i class="fab fa-facebook"></i><a
                        href="https://www.facebook.com/profile.php?id=100054555904478" target="_blank">Facebook
                        Inseandes</a></li>
            </ul>

            <div class="copyright">
                <p>&copy; <a href="http://www.inseandes.edu.co">Institución Educativa Técnica Industrial y
                        Agroindustrial Los Andes</a></p>
            </div>
        </div>
    </footer>
    <script src="../static/js/anatomia.js"></script>
    <script src="../static/js/derechos.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>