<!DOCTYPE html>
<html>

<head>
    <title>ENIGMA HUMANO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/anatomia.css" />
    <link rel="stylesheet" href="../static/css/anatomia.css?v=1.2" />
    <link rel="stylesheet" href="../static/css/embarazo.css?v=1.2" />
    <link rel="stylesheet" href="../static/css/ciclo menstrual.css?v=1.2" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body class="is-preload">
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="../static/img/logo1.png" width="78px" height="78px" alt="logo">
        </div>
        <div class="separatorv"></div>
        <div class="title">
            <div class="upp">
                <h1>Enigma Humano</h1>
            </div>
            <div class="downn">
                <h3>CICLO MENSTRUAL</h3>
            </div>
        </div>
        <div class="separatorv"></div>
        <h1 class="slogan">
            ESCUCHA TU CUERPO
            <span class="rainbow">
                RESPETALO Y AMALO
            </span>
            PORQUE ES EL TEMPLO QUE ALBERGA TU SENSUALIDAD Y TU ENERGIA VITAL
        </h1>
    </header>

    <!-- Menu -->
    <div class="menu">
        <nav>
            <ul>
                <li><a href="index.html"><i class="fas fa-home"></i> <span>Inicio</span></a></li>
                <li><a href="juegos.html"><i class="fas fa-gamepad"></i> <span>Juegos</span></a></li>
                <li><a href="historietas.html"><i class="fas fa-book-open"></i> <span>Historietas</span></a></li>
                <li class="dropdown">
                    <a href="temas.html" class="dropbtn"><i class="fas fa-book-bookmark"></i> <span>Temas</span></a>
                    <div class="dropdown-content">
                        <a href="derechos.html">Derechos Sexuales y Reproductivos</a>
                        <a href="anatomiaF.html">Anatomía del Sistema Reproductor Femenino</a>
                        <a href="anatomiaM.html">Anatomía del Sistema Reproductor Masculino</a>
                        <a href="anticonceptivos.html">Métodos Anticonceptivos</a>
                        <a href="embarazo.html">Embarazo</a>
                        <a href="ets.html">ETS</a>
                        <a href="ciclomenstrual.html">Ciclo Menstrual</a>
                    </div>
                </li>
                <li><a href="pubertad.html"><i class="fas fa-children"></i> <span>Conozco mi Cuerpo</span></a></li>
            </ul>
        </nav>
    </div>

    <div class="inner">
        <!-- Content -->
        <section>
            <div class="content">
                <div class="generalidades">
                    <div class="major">
                        <h2>Generalidades del Ciclo Menstrual</h2>
                    </div>
                    <div class="descrip">
                        <div class="video-container">
                            <video controls>
                                <source src="../static/vid/sexialidad Sara.mp4" type="video/mp4">
                                Tu navegador no soporta el tag de video.
                            </video>
                        </div> <br><br>
                        
                        <span class="image left">
                            <img src="../static/img/ciclo-menstrual.png" alt="" class="initi" />
                        </span>
                        <p>
                            El <i><b>ciclo menstrual</b></i> es el <b>tiempo</b> que transcurre <b>entre</b> una
                            menstruación y otra. Cuenta desde el <b>inicio</b> de la menstruación hasta la
                            <b>siguiente</b>
                            menstruación. Se pueden tener ciclos menstruales de <b>28</b>, <b>24</b>, <b>30</b> o más
                            días.
                            Después de la primera regla (<b><i>menarquia</i></b>), los ciclos menstruales duran
                            alrededor de
                            <b>21</b> a <b>45</b> días. Existen <b>dos fases</b> durante el ciclo menstrual: <br><br>
                        <ul>
                            <li><b>Primera fase del ciclo menstrual:</b>
                                Los niveles de estrógeno <b>aumentan</b> y hacen que la capa que recubre el útero
                                <b>aumente
                                    de
                                    tamaño</b> y se <b>ensanche</b>, la hormona <b><i>foliculoestimulante</i></b> hace
                                que
                                un
                                óvulo empiece a madurar en uno de los ovarios, aproximadamente en el día <b>14</b> de un
                                ciclo
                                de la menstruación normal de 28 días y la hormona <b><i>luteinizante</i></b> aumenta su
                                producción provocando que el óvulo se desprenda del ovario (<b>ovulación</b>). </li>
                            <br>
                            <li><b>Segunda fase del ciclo menstrual:</b>
                                El óvulo empieza a <b>viajar</b> por medio de la <i>trompa de Falopio</i> dirigiéndose
                                al
                                útero,
                                la progesterona <b>aumenta</b> sus niveles ayudando a <b>preparar</b> el recubrimiento
                                del
                                útero
                                para el <b><i>embarazo</i></b>, pero si el óvulo <b>no es fertilizado</b> por un
                                espermatozoide
                                este se <b><i>disuelve</i></b> y es <b>liberado</b> durante el ciclo menstrual.</li>
                        </ul>
                        </p>
                    </div>
                </div><br>

                <div class="generalidades">
                    <div class="major">
                        <h2>Fases del Ciclo</h2>
                    </div>
                    <div class="aparato-reproductor female">
                        <div class="titulo">
                            <h2>Fase Folicular</h2>
                        </div>
                        <div class="initial-content">
                            <p>
                                Esta fase folicular empieza el <b>primer día</b> de sangrado menstrual (día 1). No
                                obstante,
                                el
                                <b>acontecimiento principal</b> de esta fase es el <b>desarrollo</b> de los folículos en
                                los
                                ovarios. (Los folículos son <b>sacos</b> llenos de líquido). Al principio de la fase
                                folicular,
                                el <i><b>revestimiento interno</b></i> del útero (<b>endometrio</b>) está lleno de
                                líquido y
                                nutrientes destinados al futuro embrión. Si ningún óvulo ha sido <i>fertilizado</i>, los
                                niveles
                                de estrógenos y de progesterona son <b>bajos</b>. Como resultado, las capas superiores
                                del
                                <b>endometrio</b> se <b><i>desprenden</i></b> y sobreviene la menstruación. <br>
                                En este momento, la <b><i>hipófisis</i></b> aumenta ligeramente su producción de hormona
                                <b><i>foliculoestimulante</i></b>. Esta hormona estimula el crecimiento de <b>3</b> a
                                <b>30
                                    folículos</b>. Cada folículo contiene un óvulo. Más tarde, en <b>esta misma
                                    fase</b>, a
                                medida que los niveles de esta hormona <b>disminuyen</b>, solo uno de dichos folículos
                                (llamado
                                <b><i>folículo dominante</i></b>) continúa creciendo. Tras este proceso comienza la
                                producción
                                de estrógenos, y los demás folículos estimulados inician su <b>descomposición</b>. El
                                aumento de
                                los estrógenos también comienza a <b>preparar</b> el útero y estimula la producción de
                                hormona
                                <b><i>luteinizante</i></b>.<br>
                                Por término medio, la fase folicular dura unos <b>13</b> o <b>14</b> días. De las tres
                                fases,
                                esta es la que puede <b>variar</b> más en duración. Tiende a ser <b>más corta</b> cerca
                                de
                                la
                                menopausia. La fase acaba cuando el nivel de hormona luteinizante aumenta de modo muy
                                acusado
                                (<b>pico</b>). La subida culmina con la <b>liberación</b> del óvulo (ovulación) y marca
                                el
                                inicio de la fase <b>siguiente</b>.
                            </p>
                        </div>
                    </div>

                    <div class="aparato-reproductor male">
                        <div class="titulo">
                            <h2>Fase Ovulatoria</h2>
                        </div>
                        <div class="initial-content">
                            <p>
                                Esta fase ovulatoria comienza cuando se <b>produce</b> el pico de los niveles de hormona
                                <b><i>luteinizante</i></b>. Esta hormona <b>estimula</b> el folículo dominante, que se
                                aproxima
                                a la superficie del ovario para finalmente <b>romperse</b> y liberar el óvulo. La
                                cantidad
                                de
                                foliculoestimulante <b>aumenta</b> en menor grado. <br> La <b><i>fase ovulatoria</i></b>
                                dura
                                habitualmente entre <b>16</b> y <b>32</b> horas. Acaba con la liberación del óvulo, unas
                                <b>10</b> a <b>12</b> horas después del aumento de la hormona luteinizante. El óvulo
                                puede
                                fertilizarse hasta un máximo de unas <b>12 horas</b> después de su liberación. Los
                                espermatozoides sobreviven de 3 a 5 días, por lo que un óvulo puede ser fecundado
                                incluso si
                                los
                                espermatozoides entran en el aparato reproductor antes de que el óvulo sea liberado. En
                                cada
                                ciclo, hay alrededor de <b>6</b> días en los que puede ocurrir el <b><i>embarazo</i></b>
                                (la
                                llamada <b><i>ventana fértil</i></b>). La <b><i>ventana fértil</i></b> generalmente
                                comienza
                                5
                                días <b>antes</b> de la ovulación y termina 1 día <b>después</b> de la ovulación. El
                                número
                                real
                                de días fértiles <b>varía</b> de un ciclo a otro y de una mujer a otra. La liberación
                                del
                                óvulo
                                no tiene lugar alternativamente cada mes en uno u otro ovario, sino que parece
                                producirse de
                                forma aleatoria. Si se <b>extirpa</b> un ovario, el otro libera un óvulo cada mes.
                            </p>
                        </div>
                    </div>

                    <div class="aparato-reproductor female">
                        <div class="titulo expandable-title" data-target="female-content">
                            <h2>Fase Lútea <span class="arrow">▼</span></h2>
                        </div>
                        <div class="initial-content">
                            <p>
                                Esta fase lútea <b>sigue</b> a la ovulación, dura alrededor de <b>14 días</b> (a menos
                                que
                                tenga
                                lugar la <b>fertilización</b>) y finaliza justo <b>antes</b> del periodo menstrual. En
                                la
                                fase
                                lútea, el folículo roto <b>se cierra</b> después de liberar el óvulo y forma una
                                estructura
                                denominada <b><i>cuerpo lúteo</i></b>, que secreta progresivamente una cantidad mayor de
                                progesterona. Durante la <b>mayor parte</b> de la fase lútea, el nivel de estrógenos es
                                <b>alto</b>. Los estrógenos también estimulan el engrosamiento del
                                <b><i>endometrio</i></b>.
                                El
                                aumento de los niveles de estrógenos y de progesterona hace que se <b>dilaten</b> los
                                conductos
                                <b><i>galactóforos</i></b> de las mamas. Como resultado, estas pueden <b>aumentar</b> de
                                tamaño
                                y volverse dolorosas al tacto.
                        </div>
                        <div id="female-content" class="expandable-content">
                            <p>La <b><i>progesterona</i></b> producida por el cuerpo lúteo
                                hace
                                lo siguiente:
                            <ul>
                                <li><b>Prepara</b> al útero por si se <b>implanta</b> un embrión</li>
                                <li>Hace que el endometrio se <b>engrose</b> y <b>acumule</b> líquido y nutrientes para
                                    alimentar a un posible embrión.</li>
                                <li><b>Provoca</b> también el espesamiento de la mucosidad en el <b><i>cuello
                                            uterino</i></b> y
                                    <b>dificulta</b> la entrada de espermatozoides o bacterias en el útero
                                </li>
                                <li><b>Provoca</b> un ligero aumento de la <b><i>temperatura corporal basal</i></b>
                                    durante
                                    la
                                    fase lútea y hace que continúe elevada hasta que se inicie el periodo menstrual
                                    (este
                                    aumento de la temperatura se puede utilizar para <b>estimar</b> cuándo se ha
                                    producido
                                    la
                                    ovulación)</li>
                            </ul>
                            </p>
                            <p>
                                El aumento de los niveles de <b><i>estrógenos</i></b> y de <b><i>progesterona</i></b>
                                hace
                                que
                                se
                                dilaten los conductos galactóforos de las mamas. Como resultado, estas pueden aumentar
                                de
                                tamaño
                                y
                                volverse dolorosas al tacto. Si <b>no se fertiliza el óvulo</b>, o si este, una vez
                                fecundado,
                                no se
                                <b><i>implanta</i></b>, el cuerpo lúteo degenera tras <b>14 días</b>, disminuyen los
                                niveles
                                de
                                estrógenos y de progesterona, y comienza un nuevo ciclo menstrual. Si se produce la
                                <b><i>implantación</i></b>, las células que rodean al embrión en desarrollo comienzan a
                                producir
                                una
                                hormona denominada <b><i>gonadotropina coriónica humana</i></b>. Esta hormona mantiene
                                el
                                <b><i>cuerpo lúteo</i></b>, que continúa produciendo progesterona hasta que el feto en
                                crecimiento
                                pueda <b>producir</b> sus propias hormonas. Las pruebas de embarazo se basan en la
                                <b>detección</b>
                                del <b>aumento</b> de la <b><i>gonadotropina coriónica humana</i></b>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="generalidades">
                <div class="major">
                    <h2>Menstruación</h2>
                </div>
                <div class="descrip">
                    <span class="image left">
                        <img src="../static/img/menstruacion(1).png" alt="" class="initi" />
                    </span>
                    <p>
                        La menstruación es la
                        <b>expulsión</b> en forma de sangrado del óvulo <b>no fecundado</b>. Sale periódicamente por
                        medio de la vagina una vez al mes y su contenido se compone de sangre, tejido endometrial y
                        otros fluidos vaginales. El flujo total puede ser de 40 a 50 ml y dura entre 3 y 6 días
                        aproximadamente. Existen distintos tipos de menstruación, como pueden ser: <br><br>
                    <ul>
                        <li><b>Menarquía</b>: Es la <b>primera menstruación</b> que se tiene.</li>
                        <li><b>Dismenorrea</b>: Es cuando se tiene una regla dolorosa.</li>
                        <li><b>Amenorrea</b>: Es la <b>pérdida o ausencia</b> de menstruación.</li>
                        <li><b>Hipomenorrea</b>: Es cuando hay una <b>disminución</b> de la duración de la menstruación
                            o cantidad del flujo menstrual.</li>
                        <li><b>Hipermenorrea o Menorragia</b>: Es cuando hay un <b>exceso o aumento anormal</b> de la
                            cantidad o duración del flujo menstrual.</li>
                        <li><b>Polimenorrea</b>: Es cuando el intervalo entre una menstruación y otra es <b>inferior</b>
                            a
                            <b>21 días</b>.
                        </li>
                    </ul>
                    </p>
                </div>
            </div><br>

            <div class="generalidades">
                <div class="major">
                    <h2>Menopausia</h2>
                </div>
                <div class="descrip">
                    <span class="image left">
                        <img src="../static/img/menopausia.png" alt="" class="initi" />
                    </span>
                    <p>
                        La menopausia es la <b>desaparición permanente</b> de la menstruación que es
                        el resultado de la disminución de la <b><i>actividad ovárica folicular</i></b>.
                        Con la menopausia ponemos fin a nuestra etapa reproductiva.
                        La menstruación finaliza por la pérdida de producción de las hormonas de estrógenos y
                        progesterona
                        de los ovarios. También la menopausia puede aparecer por una enfermedad o una
                        <b><i>histerectomía</i></b>.
                    </p>
                </div>
                <br><br>
                <div class="aparato-reproductor female">
                    <div class="titulo">
                        <h2>Síntomas</h2>
                    </div>
                    <div class="initial-content">
                        <p>
                        <ul>
                            <li>Alteraciones en la menstruación.</li>
                            <li>Bochornos o calores.</li>
                            <li>Interrupciones del sueño.</li>
                            <li>Problemas de vejiga.</li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="aparato-reproductor male">
                    <div class="titulo">
                        <h2>Etapas</h2>
                    </div>
                    <div class="initial-content">
                        <p>
                        <ul>
                            <li><b>Premenopausia:</b> <br> Esta fase comprende a partir de nuestro ciclo normal en la
                                <b>función
                                    reproductiva</b>, es decir, desde nuestra primera menstruación hasta la última.
                            </li><br>
                            <li><b>Perimenopausia:</b> <br> Esta fase se produce años <b>antes</b> a la menopausia. Es
                                cuando
                                los
                                ovarios comienzan a producir <b>menos</b> estrógenos. Este periodo dura hasta el primer
                                año
                                <b>después</b> de la menopausia. Durante este periodo el riesgo de embarazo es menor,
                                aun así,
                                es necesario el uso de algún <b><i>método anticonceptivo</i></b> para evitar un embarazo
                                no
                                deseado. Tenemos un descenso en la <b>fertilidad</b>, pero esta <b>no desaparece</b>.
                            </li><br>
                            <li><b>Menopausia:</b><br> Se produce el <b>paro total</b> de la menstruación. Dejamos de
                                ser
                                fértiles.
                            </li><br>
                            <li><b>Postmenopausia:</b><br> En esta fase la mayoría de los síntomas de la menopausia
                                <b>desaparecen</b>, pero puede traer <b>problemas</b> para la salud como la
                                <b><i>osteoporosis</i></b> y enfermedades del corazón.
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
    </div>
    </section>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <ul class="contact">
                <li class="icon"><i class="fa fa-envelope"></i><a href="#">uncorreo@inseandes.edu.co</a></li>
                <li class="icon"><i class="fa fa-phone"></i>(+57) 311 589 9115</li>
                <li class="icon"><i class="fa fa-home"></i>Clle 4 #10-27 / Sogamoso, Boyacá</li>
                <li class="icon"><i class="fab fa-facebook"></i><a
                        href="https://www.facebook.com/profile.php?id=100054555904478" target="_blank">Facebook
                        Inseandes</a></li>
            </ul>

            <div class="copyright">
                <p>&copy; <a href="http://www.inseandes.edu.co">Institución Educativa Técnica Industrial y
                        Agroindustrial Los Andes</a></p>
            </div>
        </div>
    </footer>
    <script src="../static/js/anatomia.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>