<!DOCTYPE html>
<html>

<head>
    <title>ENIGMA HUMANO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/derechos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body class="is-preload">
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="../static/img/logo1.png" width="78px" height="78px" alt="logo">
        </div>
        <div class="separatorv"></div>
        <div class="title">
            <div class="upp">
                <h1>Enigma Humano</h1>
            </div>
            <div class="downn">
                <h3>DERECHOS SEXUALES Y REPRODUCTIVOS
                </h3>
            </div>
        </div>
        <div class="separatorv"></div>
        <h1 class="slogan">
            ESCUCHA TU CUERPO
            <span class="rainbow">
                RESPETALO Y AMALO
            </span>
            PORQUE ES EL TEMPLO QUE ALBERGA TU SENSUALIDAD Y TU ENERGIA VITAL
        </h1>
    </header>

    <!-- Menu -->
    <div class="menu">
        <nav>
            <ul>
                <li><a href="index.html"><i class="fas fa-home"></i> <span>Inicio</span></a></li>
                <li><a href="juegos.html"><i class="fas fa-gamepad"></i> <span>Juegos</span></a></li>
                <li><a href="historietas.html"><i class="fas fa-book-open"></i> <span>Historietas</span></a></li>

                <li class="dropdown">
                    <a href="temas.html" class="dropbtn"><i class="fas fa-book-bookmark"></i> <span>Temas</span></a>
                    <div class="dropdown-content">
                        <a href="derechos.html">Derechos Sexuales y Reproductivos</a>
                        <a href="anatomiaF.html">Anatomía del Sistema Reproductor Femenino</a>
                        <a href="anatomiaM.html">Anatomía del Sistema Reproductor Masculino</a>
                        <a href="anticonceptivos.html">Métodos Anticonceptivos</a>
                        <a href="embarazo.html">Embarazo</a>
                        <a href="ets.html">ETS</a>
                        <a href="ciclomenstrual.html">Ciclo Menstrual</a>
                    </div>
                </li>
                <li><a href="pubertad.html"><i class="fas fa-children"></i> <span>Conozco mi Cuerpo</span></a></li>
                
            </ul>
        </nav>
    </div>

    <main>
        <div class="contenedor-uno">
            <div class="todo">
                <div class="definicion uno">
                    <h3>Definición y Contexto Histórico:</h3>
                    Los derechos sexuales y reproductivos son un conjunto de derechos humanos que se basan en el
                    reconocimiento de la autonomía y libertad de todas las personas para tomar decisiones sobre su
                    cuerpo, sexualidad y reproducción. Estos derechos comenzaron a reconocerse internacionalmente en la
                    década de 1970, pero ganaron mayor prominencia en la Conferencia Internacional sobre Población y
                    Desarrollo de El Cairo en 1994 y en la Cuarta Conferencia Mundial sobre la Mujer en Beijing en 1995.
                    <br><br>
                </div>

                <div class="listado">
                    <h2>Derechos Sexuales y Reproductivos</h2>
                    <div class="carousel-container">
                        <button class="arrow left-arrow"><i class="fas fa-chevron-left"></i></button>
                        <div class="container-card">
                            <div class="card">
                                <figure>
                                    <img src="../static/img/igualdadynodiscriminacion.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>IGUALDAD Y NO DISCRIMINACIÓN</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>IGUALDAD Y NO DISCRIMINACIÓN</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Todas las personas tenemos derecho
                                        a conocer y disfrutar nuestra sexualidad.
                                        Da igual que tengamos discapacidad,
                                        También da igual nuestra raza, origen o procedencia,
                                        nuestra posición económica,
                                        nuestra orientación sexual,
                                        el idioma que hablemos,
                                        nuestra religión
                                        o cualquier otra condición que tengamos.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque muchas personas aún piensan
                                        que las personas con discapacidad
                                        no son capaces de entender ni disfrutar
                                        de su sexualidad.
                                        O que no deben hacerlo
                                        porque no son bastante responsables
                                        y podrían quedarse embarazadas
                                        o dejar embarazada a otra persona.
                                        Las mujeres con discapacidad intelectual
                                        sufren especialmente este tipo de prejuicios.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/vidalibertadyseguridad.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>VIDA, LIBERTAD Y SEGURIDAD</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>VIDA, LIBERTAD Y SEGURIDAD</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Toda persona tiene derecho a la vida,
                                        la libertad y la seguridad.
                                        Estos derechos no pueden ser amenazados,
                                        imitados o retirados
                                        por razones relacionadas con la sexualidad.
                                        Por ejemplo por la orientación sexual,
                                        o la identidad de género.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque muchas mujeres
                                        con discapacidad intelectual
                                        no pueden expresar su sexualidad,
                                        su orientación sexual
                                        o expresar su género
                                        con libertad.
                                        <br>
                                        Tampoco pueden acceder
                                        con libertad y seguridad
                                        a los servicios de salud.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/autonomiaeintegridad.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>AUTONOMÍA E INTEGRIDAD DEL CUERPO</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>AUTONOMÍA E INTEGRIDAD DEL CUERPO</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Todas las personas
                                        tenemos derecho a controlar
                                        nuestro cuerpo
                                        y decidir libremente
                                        sobre nuestra propia sexualidad.
                                        Por ejemplo, elegir nuestras parejas
                                        y relaciones de mutuo acuerdo.
                                        <br>
                                        Tenemos derecho a estar informadas
                                        y consentir los tratamientos, pruebas,
                                        intervenciones, cirugía, etc.
                                        relacionados con nuestra sexualidad.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque muchas mujeres con discapacidad
                                        son obligadas a rechazar a sus parejas
                                        o a realizarse tratamientos
                                        anticonceptivos o esterilizaciones.
                                        Muy pocas veces son informadas
                                        sobre este tipo de tratamientos
                                        y sus consecuencias para la salud
                                        sexual y reproductiva.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/maltratonicrueldad.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>NO SUFRIR MALTRATO NI CRUELDAD</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>NO SUFRIR MALTRATO NI CRUELDAD</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Nadie puede ser torturada,
                                        degradada o sufrir crueldad
                                        por su sexualidad.
                                        Esto incluye la esterilización forzada
                                        y otros tratos crueles.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque muchas personas
                                        con discapacidad intelectual y del desarrollo
                                        sufren burlas, maltratos o crueldad
                                        en relación a su sexualidad.
                                        Hasta hace poco tiempo,
                                        también eran esterilizadas
                                        sin su consentimiento.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/violenciasexual.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>NO SUFRIR VIOLENCIA SEXUAL</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>NO SUFRIR VIOLENCIA SEXUAL</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        La violencia sexual
                                        son las agresiones de una persona a otra
                                        para tener relaciones sexuales
                                        sin su consentimiento o sin su deseo.
                                        <br>
                                        La mayor parte de las agresiones sexuales
                                        las sufren las mujeres.
                                        <br>
                                        La violación es una forma de violencia sexual.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque muchas mujeres
                                        hemos sufrido violencia sexual.
                                        <br>
                                        También porque las mujeres con discapacidad
                                        tienen más riesgo de sufrir violencia sexual.
                                        Sobre todo las que necesitan más apoyos.
                                        <br>
                                        Además, porque muchas veces,
                                        no sabemos a quién acudir
                                        si hemos sufrido violencia sexual.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/privacidadsexual.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>INTIMIDAD Y PRIVACIDAD SEXUAL</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>INTIMIDAD Y PRIVACIDAD SEXUAL</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Todas las personas tenemos derecho
                                        a tener privacidad sexual.
                                        <br>
                                        La privacidad sexual significa
                                        tener espacios de intimidad
                                        para estar solas o con nuestra pareja.
                                        También significa poder tomar decisiones
                                        sobre nuestro cuerpo.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque muchas mujeres con discapacidad
                                        no tienen espacios íntimos
                                        para tener relaciones sexuales o masturbarse.
                                        <br>
                                        Cualquier persona tiene derecho
                                        a su propia intimidad
                                        y a tener espacios privados.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/experienciasplacenteras.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>MÁXIMO DE SALUD PARA EXPERIENCIAS PLACENTERAS</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>MÁXIMO DE SALUD PARA EXPERIENCIAS PLACENTERAS</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Todas las personas
                                        tenemos derecho a conseguir
                                        toda la salud y el bienestar posible
                                        en relación a nuestra sexualidad.
                                        <br>
                                        Para esto se necesitan
                                        servicios de atención a la salud
                                        disponibles, accesibles y de calidad.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque para muchas mujeres
                                        con discapacidad intelectual
                                        y del desarrollo
                                        aún es muy difícil acceder
                                        a servicios de salud sexual
                                        y reproductiva.
                                        <br>
                                        Muchas de ellas
                                        no se hacen pruebas
                                        de ginecología para prevenir
                                        y evitar enfermedades
                                        que afectan su sexualidad.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/avancescientificos.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>GOZAR DE LOS AVANCES CIENTÍFICOS</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>GOZAR DE LOS AVANCES CIENTÍFICOS</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Todas las personas tenemos derecho
                                        a disfrutar de los beneficios
                                        del progreso y los avances científicos.
                                        De la aplicación de estos avances
                                        en la sexualidad y la salud sexual.
                                        Por ejemplo, los avances
                                        en los tratamientos
                                        y en las medicinas.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque si no lo tenemos en cuenta,
                                        las mujeres con discapacidad intelectual
                                        pueden quedarse atrás
                                        en la aplicación de estos avances.
                                        Si no están informadas
                                        de los avances científicos
                                        y si no los comprenden,
                                        no podrán tener estos beneficios.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/informacionsexualidad.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>INFORMACIÓN SOBRE SEXUALIDAD</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>INFORMACIÓN SOBRE SEXUALIDAD</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Debemos poder acceder
                                        a toda la información
                                        relacionada con la sexualidad
                                        y los derechos sexuales.
                                        Esta información debe ser
                                        precisa y comprensible.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque a veces,
                                        pensando en que nos hace bien,
                                        otras personas nos ocultan
                                        información importante
                                        sobre nuestra sexualidad,
                                        nuestros derechos,
                                        o la salud sexual.
                                        No queremos censuras,
                                        ni que manipulen
                                        la información.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/educacionsexualidad.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>EDUCACIÓN SOBRE SEXUALIDAD</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>EDUCACIÓN SOBRE SEXUALIDAD</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Todas las personas tenemos derecho
                                        a una educación integral sobre sexualidad.
                                        Esta educación debe ser
                                        adaptada a cada edad,
                                        correcta científicamente
                                        y basada en los derechos humanos,
                                        la igualdad de género,
                                        y un enfoque positivo
                                        de la sexualidad y el placer.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque muchas mujeres con discapacidad
                                        no han recibido ninguna formación
                                        sobre sexualidad.
                                        Esto hace que no reconozcan
                                        su propio cuerpo,
                                        su propia sexualidad,
                                        y no puedan prevenir
                                        enfermedades,
                                        relaciones no consentidas,
                                        o embarazos no deseados.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/casarteono.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>CASARTE CON QUIEN QUIERAS O NO HACERLO</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>CASARTE CON QUIEN QUIERAS O NO HACERLO</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Todas las personas tenemos derecho
                                        a decidir si queremos casarnos o no,
                                        a mantener una relación de pareja
                                        con consentimiento.
                                        También tenemos derecho
                                        a disolver el matrimonio
                                        o la relación, igual que el resto
                                        de personas.
                                        Y a poder acceder
                                        a servicios sociales
                                        que nos ayuden a tomar
                                        nuestras decisiones.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque existe el riesgo
                                        de que a las mujeres
                                        con discapacidad intelectual
                                        y del desarrollo
                                        no les permitan
                                        tener relaciones
                                        de pareja.
                                        O que no puedan casarse
                                        o divorciarse
                                        como el resto de mujeres.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/tenerhijosono.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>DECIDIR TENER HIJOS O NO TENERLOS</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>DECIDIR TENER HIJOS O NO TENERLOS</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Nuestras decisiones deben respetarse
                                        tanto si decidimos tener hijos o hijas
                                        como si decidimos no ser madres.
                                        <br>
                                        Siempre tenemos que contar
                                        con los apoyos y recursos
                                        que necesitemos.
                                        <br>
                                        Por ejemplo, si quiero abortar,
                                        necesito información y conocer los riesgos.
                                        Necesito conocer cómo se hace
                                        y dar mi consentimiento.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque muchas mujeres con discapacidad
                                        no deciden por ellas mismas
                                        si quieren quedarse embarazadas o no.

                                        <ul class="list-group list-group-numbered">
                                            <li class="list-group-item active">Las que SÍ quieren tener hijos o hijas,
                                                no saben si tendrán apoyo en la crianza.</li>
                                            <li class="list-group-item disabled">Las que NO quieren tener hijos o hijas,
                                                no saben qué métodos anticonceptivos pueden usar.</li>
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/librepensamiento.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>LIBERTAD DE PENSAMIENTO, EXPRESIÓN Y OPINIÓN</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>LIBERTAD DE PENSAMIENTO, EXPRESIÓN Y OPINIÓN</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Todas las personas tenemos derecho
                                        a expresar libremente lo que pensamos
                                        sobre nuestra sexualidad,
                                        o sobre nuestro género
                                        y relaciones.
                                        También tenemos derecho
                                        a expresar nuestra sexualidad
                                        a través de nuestra apariencia,
                                        comportamiento o comunicación,
                                        respetando a las demás personas.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque muchas personas
                                        con discapacidad intelectual
                                        y del desarrollo
                                        no pueden expresar su sexualidad
                                        como desean.
                                        Para gran parte de la sociedad,
                                        son seres sin sexualidad.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/libreasociacion.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>LIBRE ASOCIACIÓN Y REUNIÓN PACÍFICA</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>LIBRE ASOCIACIÓN Y REUNIÓN PACÍFICA</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Todas las personas tenemos derecho
                                        a organizarnos, asociarnos y reunirnos
                                        libremente.
                                        También a protestar, manifestarnos
                                        y defender nuestras ideas
                                        sobre la sexualidad,
                                        la salud sexual
                                        y los derechos sexuales.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Como a las personas con discapacidad intelectual
                                        se les niega la sexualidad,
                                        también se les niega
                                        la posibilidad de conocer sus derechos
                                        y de reivindicarlos.
                                        Es necesario que les apoyemos
                                        para que puedan manifestar
                                        sus opiniones e ideas con libertad.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/participarvida.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>PARTICIPAR EN LA VIDA PÚBLICA Y POLÍTICA</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>PARTICIPAR EN LA VIDA PÚBLICA Y POLÍTICA</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Todas las personas tenemos derecho
                                        a participar en la sociedad,
                                        defendiendo nuestros valores e ideas.
                                        Esto significa estar presente
                                        en espacios políticos, culturales,
                                        económicos y sociales
                                        en donde podamos expresarnos
                                        en relación a la sexualidad
                                        y la salud sexual.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque el bienestar de las personas
                                        no depende sólo de su salud,
                                        sino también de sentir
                                        que son útiles para la sociedad,
                                        que participan y son escuchadas,
                                        que pueden contribuir
                                        con sus experiencias y sus opiniones.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <figure>
                                    <img src="../static/img/justiciaydenuncia.png">
                                </figure>
                                <div class="contenido-card">
                                    <h3>ACCEDER A LA JUSTICIA Y DENUNCIAR</h3>
                                    <a href="#" class="read-more">Leer Más</a>
                                    <div class="modal-content-html" style="display: none;">
                                        <h2>ACCEDER A LA JUSTICIA Y DENUNCIAR</h2>
                                        <p>
                                        <h3>¿Qué dice este derecho?</h3><br>
                                        Todas las personas tenemos derecho
                                        a acceder a la Justicia,
                                        denunciar las agresiones
                                        o violaciones de los derechos sexuales
                                        que podamos sufrir.
                                        También a solicitar indemnizaciones
                                        y compensaciones.
                                        Para ello, los poderes públicos
                                        y de Justicia tienen que asegurar
                                        información accesible y apoyos.
                                        <br><br>

                                        <h3>¿Por qué es importante conocer este derecho?</h3><br>
                                        Porque a veces la falta de información
                                        y formación sobre sexualidad,
                                        impide que muchas mujeres con discapacidad
                                        podamos denunciar la violación
                                        de nuestros derechos,
                                        o podamos asistir a juicios
                                        y entender todo lo que sucede en ellos.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="arrow right-arrow"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div id="modal-content"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="definicion dos">
            <h2>Importancia de los derechos sexuales y reproductivos:</h2><br>
            <div class="contenedor-dos">
                <div class="tarjeton-row">
                    <div class="tarjeton">
                        <div class="list-group-item"><b>Autonomía y libertad personal:</b><br>
                            Permiten a las personas tomar decisiones sobre sus propios cuerpos y vidas.
                            Fomentan la autodeterminación y el desarrollo personal.
                        </div>
                    </div>
                    <div class="tarjeton">
                        <div class="list-group-item dos"><b>Salud física y mental:</b><br>
                            Previenen embarazos no deseados y abortos inseguros.
                            Reducen la transmisión de ITS, incluido el VIH.
                            Promueven el bienestar emocional y psicológico.
                        </div>
                    </div>
                </div>
                <br>
                <div class="tarjeton-row dos">
                    <div class="tarjeton">
                        <div class="list-group-item"><b>Igualdad de género:</b><br>
                            Empoderan a las mujeres para tomar decisiones sobre su cuerpo y futuro.
                            Desafían normas de género restrictivas y dañinas.
                            Fomentan relaciones más equitativas.
                        </div>
                    </div>
                    <div class="tarjeton">
                        <div class="list-group-item center"><b>Desarrollo socioeconómico:</b><br>
                            Permiten a las personas planificar sus familias y carreras.
                            Reducen la pobreza al permitir un mejor control de la natalidad.
                            Mejoran las oportunidades educativas y laborales, especialmente para las mujeres.
                        </div>
                    </div>
                    <div class="tarjeton">
                        <div class="list-group-item dos"><b>Salud pública:</b><br>
                            Reducen la mortalidad materna e infantil.
                            Mejoran la salud general de la población.
                            Disminuyen la carga en los sistemas de salud.
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="tarjeton-row">
                    <div class="tarjeton">
                        <div class="list-group-item center"><b>Importancia Legal:</b><br>
                            Los derechos sexuales y reproductivos son fundamentales en el ámbito legal porque protegen la autonomía personal, promueven la igualdad de género y garantizan el acceso a la salud sexual y reproductiva. Estos derechos aseguran que las personas puedan tomar decisiones informadas sobre su sexualidad y reproducción sin discriminación, coerción o violencia. Su reconocimiento legal es crucial para salvaguardar la dignidad humana, la libertad individual y el bienestar físico y emocional en aspectos íntimos de la vida, obligando a los estados a implementar políticas que los protejan y promuevan.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <ul class="contact">
                <li class="icon"><i class="fa fa-envelope"></i><a href="#">uncorreo@inseandes.edu.co</a></li>
                <li class="icon"><i class="fa fa-phone"></i>(+57) 311 589 9115</li>
                <li class="icon"><i class="fa fa-home"></i>Clle 4 #10-27 / Sogamoso, Boyacá</li>
                <li class="icon"><i class="fab fa-facebook"></i><a
                        href="https://www.facebook.com/profile.php?id=100054555904478" target="_blank">Facebook
                        Inseandes</a></li>
            </ul>

            <div class="copyright">
                <p>&copy; <a href="http://www.inseandes.edu.co">Institución Educativa Técnica Industrial y
                        Agroindustrial Los Andes</a></p>
            </div>
        </div>
    </footer>
    <script src="../static/js/derechos.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>