<!DOCTYPE html>
<html>

<head>
    <title>ENIGMA HUMANO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/embarazo.css?v=1.2" />
    <link rel="stylesheet" href="../static/css/derechos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body class="is-preload">
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="../static/img/logo1.png" width="78px" height="78px" alt="logo">
        </div>
        <div class="separatorv"></div>
        <div class="title">
            <div class="upp">
                <h1>Enigma Humano</h1>
            </div>
            <div class="downn">
                <h3>EMBARAZO</h3>
            </div>
        </div>
        <div class="separatorv"></div>
        <h1 class="slogan">
            ESCUCHA TU CUERPO
            <span class="rainbow">
                RESPETALO Y AMALO
            </span>
            PORQUE ES EL TEMPLO QUE ALBERGA TU SENSUALIDAD Y TU ENERGIA VITAL
        </h1>
    </header>

    <!-- Menu -->
    <div class="menu">
        <nav>
            <ul>
                <li><a href="index.html"><i class="fas fa-home"></i> <span>Inicio</span></a></li>
                <li><a href="juegos.html"><i class="fas fa-gamepad"></i> <span>Juegos</span></a></li>
                <li><a href="historietas.html"><i class="fas fa-book-open"></i> <span>Historietas</span></a></li>

                <li class="dropdown">
                    <a href="temas.html" class="dropbtn"><i class="fas fa-book-bookmark"></i> <span>Temas</span></a>
                    <div class="dropdown-content">
                        <a href="derechos.html">Derechos Sexuales y Reproductivos</a>
                        <a href="anatomiaF.html">Anatomía del Sistema Reproductor Femenino</a>
                        <a href="anatomiaM.html">Anatomía del Sistema Reproductor Masculino</a>
                        <a href="anticonceptivos.html">Métodos Anticonceptivos</a>
                        <a href="embarazo.html">Embarazo</a>
                        <a href="ets.html">ETS</a>
                        <a href="ciclomenstrual.html">Ciclo Menstrual</a>
                    </div>
                </li>
                <li><a href="pubertad.html"><i class="fas fa-children"></i> <span>Conozco mi Cuerpo</span></a></li>
            </ul>
        </nav>
    </div>



    <div class="inner">
        <!-- Content -->
        <section class="toto">
            <div class="content">
                <div class="generalidades">
                    <div class="major">
                        <h2>Generalidades del Embarazo</h2>
                    </div>
                    <div class="descrip">
                        <div class="video-container">
                            <video controls>
                                <source src="../static/vid/embarazo 1.mp4" type="video/mp4">
                                Tu navegador no soporta el tag de video.
                            </video>
                        </div> <br><br>
                        <span class="image left">
                            <img src="../static/img/embarazada.png" alt="" class="initi" />
                        </span>
                        <p>
                            El <b>embarazo</b> es el estado fisiológico de una mujer que comienza con la concepción del
                            feto
                            y continúa con el <b><i>desarrollo fetal</i></b> hasta el momento del parto. Este período se
                            divide en 40 semanas y dura 280 días, aproximadamente. Aun así, en condiciones especiales el
                            parto puede tener lugar antes del término previsto, conocido como <b>parto prematuro</b>, o
                            después de dicho término.
                            Para que ocurra un embarazo, un espermatozoide debe <b>unirse</b> con un óvulo. El embarazo
                            comienza oficialmente cuando un óvulo <b>fecundado</b> se implanta en el tejido que cubre el
                            útero (la pared del útero). Después de tener relaciones sexuales, se tarda de <b>2</b> a
                            <b>3</b> semanas para que el embarazo ocurra.
                        </p>
                        <p>
                            Todo comienza con los espermatozoides y un óvulo, cuando un espermatozoide se une con un
                            óvulo,
                            esto se llama <b><i>fertilización</i></b>. Sin embargo, la fertilización <b>no</b> sucede de
                            inmediato. Como los espermatozoides pueden permanecer en el útero y trompas de Falopio hasta
                            6
                            días después de haber tenido relaciones sexuales, pueden pasar hasta 6 días entre el sexo y
                            la
                            fecundación.
                            Si un espermatozoide se une con un óvulo, el óvulo fertilizado se mueve por la trompa de
                            Falopio
                            hasta tu útero. Luego, comienza a <b>dividirse</b> en más y más células, y forma una bola a
                            medida que crece. Esta bola de células (llamada <b><i>blastocito</i></b>) llega a tu útero
                            entre
                            3 y 4 días después de la fertilización.
                        </p>
                    </div>
                </div><br>

                <div class="generalidades">
                    <div class="major">
                        <h2>Síntomas</h2>
                    </div>
                    <div class="descrip">
                        <div class="listado">
                            <div class="carousel-container">
                                <button class="arrow2 left-arrow2"><i class="fas fa-chevron-left"></i></button>
                                <div class="container-card">
                                    <div class="card">
                                        <figure>
                                            <img src="../static/img/menstruacion.png">
                                        </figure>
                                        <div class="contenido-card">
                                            <h3>FALTA DE MENSTRUACIÓN</h3>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <figure>
                                            <img src="../static/img/cancer-de-mama.png">
                                        </figure>
                                        <div class="contenido-card">
                                            <h3>MAMAS O PEZONES HINCHADOS Y SENSIBLES</h3>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <figure>
                                            <img src="../static/img/nausea.png">
                                        </figure>
                                        <div class="contenido-card">
                                            <h3>NAUSEAS CON O SIN VOMITO</h3>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <figure>
                                            <img src="../static/img/fatiga.png">
                                        </figure>
                                        <div class="contenido-card">
                                            <h3>FATIGA</h3>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <figure>
                                            <img src="../static/img/dolor-de-cabeza.png">
                                        </figure>
                                        <div class="contenido-card">
                                            <h3>DOLOR DE CABEZA</h3>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <figure>
                                            <img src="../static/img/cambios-de-humor (1).png">
                                        </figure>
                                        <div class="contenido-card">
                                            <h3>CAMBIOS DE HUMOR Y EN EL ESTADO DE ÁNIMO</h3>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <figure>
                                            <img src="../static/img/gripe-estomacal.png">
                                        </figure>
                                        <div class="contenido-card">
                                            <h3>ESTREÑIMIENTO</h3>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <figure>
                                            <img src="../static/img/frecuente.png">
                                        </figure>
                                        <div class="contenido-card">
                                            <h3>INCREMENTO DE LA FRECUENCIA DE MICCIÓN</h3>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <figure>
                                            <img src="../static/img/hinchazon.png">
                                        </figure>
                                        <div class="contenido-card">
                                            <h3>HINCHAZÓN</h3>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <figure>
                                            <img src="../static/img/sangre.png">
                                        </figure>
                                        <div class="contenido-card">
                                            <h3>LEVE MANCHADO</h3>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <figure>
                                            <img src="../static/img/obstaculo.png">
                                        </figure>
                                        <div class="contenido-card">
                                            <h3>CALAMBRES</h3>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <figure>
                                            <img src="../static/img/dieta.png">
                                        </figure>
                                        <div class="contenido-card">
                                            <h3>CAMBIOS ALIMENTARIOS</h3>
                                        </div>
                                    </div>
                                </div>
                                <button class="arrow2 right-arrow2"><i class="fas fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div><br>

                <div class="generalidades">
                    <div class="major">
                        <h2>¿Qué es la Edad Gestional?</h2>
                    </div>
                    <div class="descrip">
                        <p>
                            El término “edad gestacional” quiere decir el tiempo que <b>tienes</b> de embarazo. La edad
                            gestacional se cuenta a partir del primer día de tu último periodo menstrual (<b>UPM</b>).
                            La edad gestacional puede ser un poco confusa, porque mide el embarazo desde el último
                            periodo,
                            alrededor de 3 o 4 semanas <b>ANTES</b> de que se produzca el embarazo. Se considera que el
                            embarazo dura 9 meses, y es cierto que usualmente tendrás un embarazo de más o menos de 9
                            meses.
                            Sin embargo, la forma en que se mide el embarazo hace que sea un poco más largo. Un embarazo
                            a
                            término típico dura entre 38 a 42 semanas desde el último periodo (alrededor de 10 meses).
                            <br>
                            Se referencian segmentos del embarazo, denominados <b><i>trimestres</i></b>. A continuación
                            se
                            describen los principales acontecimientos de cada trimestre:
                        </p>
                    </div>
                    <br>
                    <div class="aparato-reproductor">
                        <div class="titulo expandable-title" data-target="cuarto-content">
                            <h2>Primer Trimestre - De la semana 1 a la semana 12</h2>
                        </div>
                        <div class="initial-content">
                            <section class="ultpart">
                                <p>
                                    <span class="image left">
                                        <img src="../static/img/feto.png" alt="" />
                                    </span>
                                    Los acontecimientos que conducen a un embarazo comienzan con la <b>concepción</b>,
                                    en la
                                    cual un espermatozoide penetra un óvulo. Luego, el óvulo fertilizado (denominado
                                    <b><i>cigoto</i></b>) viaja a través de las <b>trompas de Falopio</b> de la mujer
                                    hasta
                                    el útero, en donde se implanta en la pared uterina. El cigoto está formado por un
                                    conjunto de células que luego forman el <b>feto</b> y la <b><i>placenta</i></b>. La
                                    placenta conecta a la madre con el feto y le proporciona nutrientes y oxígeno al
                                    feto,
                                    la madre puede experimentar síntomas como <b>náuseas</b>, <b>irritabilidad</b>,
                                    <b>cansancio</b> y <b>agrandamiento de las mamas</b>. Entre la semana 8 y la 13
                                    comienza
                                    a cambiar el cuerpo de la futura madre y se diferencian los órganos sexuales del
                                    feto,
                                    cuyas cuerdas vocales también se formarán. En este punto, termina el período <b>más
                                        crítico</b> del embarazo, en el que hay un alto riesgo de aborto y daños al
                                    feto:
                                    así es como comienza el segundo trimestre de gestación.
                                </p>
                            </section>
                        </div>
                    </div>

                    <div class="aparato-reproductor male">
                        <div class="titulo expandable-title" data-target="cuarto-content">
                            <h2>Segundo Trimestre - De la semana 13 a la semana 28</h2>
                        </div>
                        <div class="initial-content">
                            <section class="ultpart">
                                <p>
                                    <span class="image left">
                                        <img src="../static/img/ultrasonido.png" alt="" />
                                    </span>
                                    De la semana 13 a la 17 disminuirá la fatiga y las náuseas tenderán a desaparecer,
                                    mientras el feto está <b>completamente formado</b>. De la semana 17 a la 21 la madre
                                    comenzará a sentir los primeros movimientos del bebé, entre la semana 21 y la 26 el
                                    vientre empezará a ser bastante grande y podrá sentir las primeras
                                    <b><i>contracciones
                                            uterinas</i></b>. En este mes el bebé duplicará su peso, comenzará a abrir y
                                    a
                                    cerrar los párpados y empezará a hacer pequeños movimientos respiratorios
                                </p>
                                <p>Entre las semanas 18 y 20, es el momento en el cual se realiza un
                                    <b><i>ultrasonido</i></b> para detectar defectos de nacimiento, a menudo se puede
                                    saber
                                    el sexo del bebé, a las 24 semanas, se forman las huellas de los dedos de las manos
                                    y de
                                    los pies, y el feto se duerme y se despierta <b>regularmente</b>.
                                    Según investigaciones de la <b>Red de Investigación Neonatal</b> del
                                    <b><i>NICHD</i></b>
                                    (<i><b>Instituto Nacional de la Salud infantil y Desarrollo Humano Eunice Kennedy
                                            Shriver</b></i>), la tasa de supervivencia para los bebés nacidos a las 28
                                    semanas era del <b>92 %</b>, aunque los bebés nacidos en ese tiempo probablemente
                                    experimenten complicaciones de salud serias, incluidos problemas
                                    <b>respiratorios</b> y
                                    <b>neurológicos</b>.
                                </p>
                            </section>
                        </div>
                    </div>

                    <div class="aparato-reproductor">
                        <div class="titulo expandable-title" data-target="cuarto-content">
                            <h2>Tercer Trimestre - De la semana 29 a la semana 40</h2>
                        </div>
                        <div class="initial-content">
                            <section class="ultpart">
                                <p>
                                    <span class="image left">
                                        <img src="../static/img/matriz.png" alt="" />
                                    </span>
                                    El bebé crecerá más y más y entre la semana 30 y la 35 el bebé comenzará a
                                    posicionarse
                                    lentamente en <b>preparación al parto</b>, la madre comenzará a sentir dolor en la
                                    espalda y el abdomen, así como contracciones uterinas más frecuentes, en el último
                                    mes
                                    de gestación (<b>semanas 35-40</b>) el feto alcanzará el desarrollo completo y por
                                    lo
                                    general se colocará en posición <b><i>invertida</i></b>, con la cabeza encauzada
                                    hacia
                                    la cavidad pélvica.
                                    Los bebés nacidos antes de las <b>37 semanas</b> se consideran
                                    <u><b>prematuros</b></u>.
                                    Estos niños tienen mayores riesgos de tener problemas como retraso en el desarrollo,
                                    problemas de <b>visión</b> y <b>auditivos</b> y <b><u>parálisis cerebral</u></b>.
                                    Los
                                    bebés nacidos entre las semanas <b>34</b> y <b>36</b> se consideran prematuros
                                    tardíos.
                                    Los bebés nacidos en las semanas <b>37</b> y <b>38</b> del embarazo, previamente
                                    considerados a término, ahora se consideran a término temprano. Estos bebés
                                    enfrentan
                                    más riesgos de salud que los bebés que nacen en la semana 39 o después, lo cual
                                    ahora se
                                    considera a <b>término</b>.
                                </p>
                            </section>
                        </div>
                    </div>

                    <div class="aparato-reproductor male">
                        <div class="titulo expandable-title" data-target="cuarto-content">
                            <h2>El Parto</h2>
                        </div>
                        <div class="initial-content">
                            <section class="ultpart">
                                <p>
                                    El <b>Parto</b>, es el momento en que el niño es expulsado del cuerpo de la madre,
                                    puede
                                    tener lugar de diferentes maneras:
                                </p>
                                <p>
                                <ul>
                                    <li><b>Parto natural: </b> Se produce de manera espontánea, y la madre da a luz al
                                        niño
                                        naturalmente.</li>
                                    <li><b>Cesárea: </b>Se realiza cuando el bebé está en posición podálica, en caso de
                                        placenta previa, cuando hay sufrimiento fetal o en caso de embarazo gemelar,
                                        cuando
                                        ha habido intervenciones uterinas previas y si hay riesgo para la salud de la
                                        madre
                                        o del bebé. Podrá programarse o ejecutarse con carácter de urgencia.</li>
                                    <li><b>Parto inducido: </b> Si pasan dos semanas desde la fecha de parto prevista o
                                        si
                                        hay riesgo para la salud del bebé y de la madre, el parto se induce manualmente
                                        o
                                        mediante la administración de oxitocina y epidural.</li>
                                </ul>
                                </p>
                            </section>
                        </div>
                    </div>
                </div><br>

                <div class="generalidades">
                    <div class="major">
                        <h2>Embarazo Adolescente</h2>
                    </div>
                    <div class="descrip">
                        <span class="image left">
                            <img src="../static/img/pregnant (2).jpg" alt="" />
                        </span>
                        <p>
                            Según la <b>Organización Mundial de la Salud</b> (<i><b>OMS</b></i>), la adolescencia es el
                            período en la vida de una persona que comprende <b>entre los 10 y los 19 años</b>. En
                            algunos
                            casos la adolescencia se ve interrumpida cuando la joven se queda un embarazo. Y es que,
                            <u><b>una de cada cinco mujeres</b></u> en el mundo ya tiene un hijo antes de los 18 años y
                            cada
                            año se producen 16 millones de nacimientos de mamás adolescentes. En las regiones más pobres
                            del
                            planeta a una de cada tres mujeres son madres en la <b>adolescencia</b>.
                            En <b>Colombia</b>, una de cada cinco adolescentes entre <u><b>15 y 19 años</b></u> ha
                            estado
                            alguna vez
                            embarazada. De éstas, el <b>16%</b> ya son madres y el <b>4%</b> está esperando su primer
                            hijo.
                            El <b>13%</b> de las mujeres menores de 15 años ya ha iniciado una vida sexual
                            <b>activa</b>.
                        </p>
                        <p>Las mujeres con menor educación inician en promedio a los 15 años, mientras que las de
                            más educación lo hacen a los 18 años.
                            Los adolescentes no tienen hijos con otros adolescentes, de acuerdo con la
                            información que reporta el DANE, sólo el <b>0.8 %</b> de los adolescentes tienen relaciones
                            con otros adolescentes. El restante, <b>99.2%</b>, tienen hijos con mayores de edad.
                        </p>
                    </div>
                    <br>
                    <div class="aparato-reproductor">
                        <div class="titulo expandable-title" data-target="cuarto-content">
                            <h2>Riesgos y Consecuencias en el Embarazo Adolescente</h2>
                        </div>
                        <div class="initial-content">
                            <section class="ultpart">
                                <p>
                                    Según los expertos, la edad más apropiada para ser madre es <b>entre los 20 y los 35
                                        años</b>, ya que el riesgo para la salud de la madre y el niño es mucho menor.
                                    El
                                    embarazo en la adolescencia se considera de <b><u>alto riesgo</u></b> y conlleva más
                                    complicaciones. La adolescente no está preparada ni <i><b>física</b></i> ni
                                    <b><i>mentalmente</i></b> para tener un bebé y asumir la <b>RESPONSABILIDAD</b> de
                                    la
                                    <b>maternidad</b>.
                                    Las adolescentes que se quedan embarazadas presentan en muchos casos:
                                    <br><br>
                                <ul>
                                    <li>Cuadros de <b>mala nutrición</b>, con carencia de nutrientes esenciales para el
                                        buen
                                        desarrollo del bebé.</li>
                                    <li>Un mayor número de <b>abortos espontáneos.</b></li>
                                    <li><b>Partos prematuros</b>, hay un gran número de bebés de adolescentes que nacen
                                        <b><i>antes</i></b> de la semana 37 de gestación.
                                    </li>
                                    <li>Sus bebés tienen un <b>peso bajo</b> ya que la inmadurez de su cuerpo hace que
                                        su
                                        <b>útero</b> no se haya desarrollado completamente
                                    </li>
                                    <li>Las mamás adolescente tienen niños con más <b>problemas de salud</b> y
                                        trastornos
                                        del desarrollo.</li>
                                    <li>En los casos de embarazos de niñas de menos de <b>15 años</b>, el bebé tiene más
                                        posibilidades de nacer con <b><i>malformaciones</i></b></li>
                                </ul>
                                </p>
                            </section>
                        </div>
                    </div>

                    <div class="aparato-reproductor complicaciones male">
                        <div class="titulo expandable-title" data-target="complicaciones-content">
                            <h2>Complicaciones Psicológicas para la Adolescente Embarazada
                            </h2>
                        </div>
                        <div class="initial-content">
                            <section class="ultpart">
                                <p>
                                    En general, los estudios hablan de una serie de circunstancias por los que pasan las
                                    mamás adolescentes:
                                </p>
                                <br>
                                <div class="listado">
                                    <div class="carousel-container">
                                        <button class="arrow left-arrow"><i class="fas fa-chevron-left"></i></button>
                                        <div class="container-card">
                                            <div class="card">
                                                <figure>
                                                    <img src="../static/img/candidatos.png">
                                                </figure>
                                                <div class="contenido-card">
                                                    <h3>MIEDO A SER RECHAZADAS SOCIALMENTE</h3>
                                                    <a href="#" class="read-more">Leer Más</a>
                                                    <div class="modal-content-html" style="display: none;">
                                                        <h2>MIEDO A SER RECHAZADAS SOCIALMENTE</h2>
                                                        <P>
                                                            Una de las consecuencias de la
                                                            adolescencia y el embarazo es que la joven se
                                                            siente <b>criticada</b> por su <b>entorno familiar</b> y sus
                                                            amigos, y
                                                            tiende a
                                                            <b>aislarse</b> del grupo.
                                                        </P>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <figure>
                                                    <img src="../static/img/rechazado.png">
                                                </figure>
                                                <div class="contenido-card">
                                                    <h3>RECHAZO AL BEBÉ</h3>
                                                    <a href="#" class="read-more">Leer Más</a>
                                                    <div class="modal-content-html" style="display: none;">
                                                        <h2>RECHAZO AL BEBÉ</h2>
                                                        <P>
                                                            Son niñas y <b>no desean</b> asumir la responsabilidad, el
                                                            tiempo y las
                                                            obligaciones
                                                            que supone ser madre. Sin embargo, esto también las hace
                                                            sentirse
                                                            <b>culpables</b>,
                                                            tristes y su autoestima se <b>reduce</b>.
                                                        </P>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <figure>
                                                    <img src="../static/img/familias.png">
                                                </figure>
                                                <div class="contenido-card">
                                                    <h3>PROBLEMAS CON FAMILIA</h3>
                                                    <a href="#" class="read-more">Leer Más</a>
                                                    <div class="modal-content-html" style="display: none;">
                                                        <h2>PROBLEMAS CON FAMILIA</h2>
                                                        <P>
                                                            Comunicar el embarazo en la familia muchas veces es fuente
                                                            de <b>conflicto</b> e
                                                            incluso <b>rechazo</b> por parte de su propio entorno.
                                                        </P>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <figure>
                                                    <img src="../static/img/ingenieria-social.png">
                                                </figure>
                                                <div class="contenido-card">
                                                    <h3>PROBLEMAS SOCIALES</h3>
                                                    <a href="#" class="read-more">Leer Más</a>
                                                    <div class="modal-content-html" style="display: none;">
                                                        <h2>PROBLEMAS SOCIALES</h2>
                                                        <P>
                                                            Los adolescentes pueden tener más <b>dificultad de
                                                                aprendizaje</b> o para seguir
                                                            con
                                                            los estudios, y muchos suelen sufrir mayor tasa de
                                                            <b>fracaso escolar</b>.
                                                            Además,
                                                            pueden enfrentarse a problemas de <b><i>inserción
                                                                    social</i></b>,
                                                            muchas adolescentes que se quedan embarazadas se ven
                                                            obligadas a dejar la
                                                            escuela.
                                                            Una adolescente con escasa o ninguna educación tiene
                                                            <b>menos</b> aptitudes y
                                                            <b>oportunidades</b> para encontrar un <b>trabajo</b>. <br>
                                                            La <b>Organización Mundial de la Salud</b>
                                                            (<b><i>OMS</i></b>) recomienda para
                                                            evitar
                                                            el embarazo en la adolescencia: limitar el matrimonio antes
                                                            de los 18 años,
                                                            aumentar
                                                            el uso de <b>anticonceptivos</b> para los adolescentes,
                                                            reducir las relaciones
                                                            bajo
                                                            coacción y apoyar los programas de <b>prevención de
                                                                embarazos en la
                                                                adolescencia</b>.
                                                        </P>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="arrow right-arrow"><i class="fas fa-chevron-right"></i></button>
                                    </div>
                                </div>
                                <div id="modal" class="modal">
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <div id="modal-content"></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <ul class="contact">
                <li class="icon"><i class="fa fa-envelope"></i><a href="#">uncorreo@inseandes.edu.co</a></li>
                <li class="icon"><i class="fa fa-phone"></i>(+57) 311 589 9115</li>
                <li class="icon"><i class="fa fa-home"></i>Clle 4 #10-27 / Sogamoso, Boyacá</li>
                <li class="icon"><i class="fab fa-facebook"></i><a
                        href="https://www.facebook.com/profile.php?id=100054555904478" target="_blank">Facebook
                        Inseandes</a></li>
            </ul>

            <div class="copyright">
                <p>&copy; <a href="http://www.inseandes.edu.co">Institución Educativa Técnica Industrial y
                        Agroindustrial Los Andes</a></p>
            </div>
        </div>
    </footer>
    <script src="../static/js/embarazo.js"></script>
    <script src="../static/js/derechos.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>