<!DOCTYPE html>
<html>

<head>
    <title>ENIGMA HUMANO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/pubertad.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body class="is-preload">
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="../static/img/logo1.png" width="78px" height="78px" alt="logo">
        </div>
        <div class="separatorv"></div>
        <div class="title">
            <div class="upp">
                <h1>Enigma Humano</h1>
            </div>
            <div class="downn">
                <h3>PUBERTAD</h3>
            </div>
        </div>
        <div class="separatorv"></div>
        <h1 class="slogan">
            ESCUCHA TU CUERPO
            <span class="rainbow">
                RESPETALO Y AMALO
            </span>
            PORQUE ES EL TEMPLO QUE ALBERGA TU SENSUALIDAD Y TU ENERGIA VITAL
        </h1>
    </header>

    <!-- Menu -->
    <div class="menu">
        <nav>
            <ul>
                <li><a href="index.html"><i class="fas fa-home"></i> <span>Inicio</span></a></li>
                <li><a href="juegos.html"><i class="fas fa-gamepad"></i> <span>Juegos</span></a></li>
                <li><a href="historietas.html"><i class="fas fa-book-open"></i> <span>Historietas</span></a></li>

                <li class="dropdown">
                    <a href="temas.html" class="dropbtn"><i class="fas fa-book-bookmark"></i> <span>Temas</span></a>
                    <div class="dropdown-content">
                        <a href="derechos.html">Derechos Sexuales y Reproductivos</a>
                        <a href="anatomiaF.html">Anatomía del Sistema Reproductor Femenino</a>
                        <a href="anatomiaM.html">Anatomía del Sistema Reproductor Masculino</a>
                        <a href="anticonceptivos.html">Métodos Anticonceptivos</a>
                        <a href="embarazo.html">Embarazo</a>
                        <a href="ets.html">ETS</a>
                        <a href="ciclomenstrual.html">Ciclo Menstrual</a>
                    </div>
                </li>
                <li><a href="pubertad.html"><i class="fas fa-children"></i> <span>Conozco mi Cuerpo</span></a></li>
            </ul>
        </nav>
    </div>

    <main>
        <div class="container">
            <div class="single">
                <div class="content">
                    <h2>Inicio de la Pubertad</h2>
                    <span>La pubertad es el periodo de transición entre la niñez y la edad adulta. <br><br> Generalmente inicia entre los 8-13 años en niñas y 9-14 en niños.</span>
                </div>
            </div>
            <div class="single">
                <div class="content">
                    <h2>Cambios Físicos</h2>
                    <span>
                        <h3>Hombres:</h3>
                        <ul>
                            <li>Crecimiento en estatura</li>
                            <li>Ensanchamiento de hombros</li>
                            <li>Aumento de masa muscular</li>
                            <li>Crecimiento de vello facial, púbico y axilar</li>
                            <li>Engrosamiento de la voz</li>
                            <li>Desarrollo de los genitales</li>
                            <li>Aparición de acné</li>
                        </ul>
                        <h3>Mujeres:</h3>
                        <ul>
                            <li>Crecimiento en estatura</li>
                            <li>Ensanchamiento de caderas</li>
                            <li>Desarrollo de los senos</li>
                            <li>Crecimiento de vello púbico y axilar</li>
                            <li>Inicio de la menstruación</li>
                            <li>Aumento de grasa corporal</li>
                            <li>Aparición de acné</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="single">
                <div class="content">
                    <h2>Cambios Hormonales</h2>
                    <span>
                        <h3>Hombres:</h3>
                        <ul>
                            <li>Aumento de la producción de testosterona</li>
                            <li>Incremento de la hormona luteinizante (LH)</li>
                            <li>Aumento de la hormona foliculoestimulante (FSH)</li>
                            <li>Producción de esperma</li>
                        </ul>
                        <h3>Mujeres:</h3>
                        <ul>
                            <li>Aumento de la producción de estrógenos</li>
                            <li>Incremento de la hormona luteinizante (LH)</li>
                            <li>Aumento de la hormona foliculoestimulante (FSH)</li>
                            <li>Producción cíclica de progesterona</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="single">
                <div class="content">
                    <h2>Higiene y Cuidado Personal</h2>
                    <span>
                        <h3>Importancia del cuidado personal:</h3>
                        <ul>
                            <li>Mantiene la salud</li>
                            <li>Previene olores corporales</li>
                            <li>Aumenta la Confianza</li>
                        </ul>
                        <br>
                        <h3>Nuevas rutinas de aseo:</h3>
                        <ul>
                            <li>Ducha diaria</li>
                            <li>Uso de desodorante</li>
                            <li>Lavado frecuente del cabello</li>
                            <li>Cuidado facial para el acné</li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </main>
    <script src="../static/js/script.js"></script>
</body>

</html>