<!DOCTYPE html>
<html>

<head>
    <title>ENIGMA HUMANO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body class="is-preload">
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="../static/img/logo1.png" width="78px" height="78px" alt="logo">
        </div>
        <div class="separatorv"></div>
        <div class="title">
            <div class="upp">
                <h1>Enigma Humano</h1>
            </div>
            <div class="downn">
                <h3>TEMAS</h3>
            </div>
        </div>
        <div class="separatorv"></div>
        <h1 class="slogan">
            ESCUCHA TU CUERPO
            <span class="rainbow">
                RESPETALO Y AMALO
            </span>
            PORQUE ES EL TEMPLO QUE ALBERGA TU SENSUALIDAD Y TU ENERGIA VITAL
        </h1>
    </header>

    <!-- Menu -->
    <div class="menu">
        <nav>
            <ul>
                <li><a href="index.html"><i class="fas fa-home"></i> <span>Inicio</span></a></li>
                <li><a href="juegos.html"><i class="fas fa-gamepad"></i> <span>Juegos</span></a></li>
                <li><a href="historietas.html"><i class="fas fa-book-open"></i> <span>Historietas</span></a></li>
                <li class="dropdown">
                    <a href="temas.html" class="dropbtn"><i class="fas fa-book-bookmark"></i> <span>Temas</span></a>
                    <div class="dropdown-content">
                        <a href="derechos.html">Derechos Sexuales y Reproductivos</a>
                        <a href="anatomiaF.html">Anatomía del Sistema Reproductor Femenino</a>
                        <a href="anatomiaM.html">Anatomía del Sistema Reproductor Masculino</a>
                        <a href="anticonceptivos.html">Métodos Anticonceptivos</a>
                        <a href="embarazo.html">Embarazo</a>
                        <a href="ets.html">ETS</a>
                        <a href="ciclomenstrual.html">Ciclo Menstrual</a>
                    </div>
                </li>
                <li><a href="pubertad.html"><i class="fas fa-children"></i> <span>Conozco mi Cuerpo</span></a></li>
            </ul>
        </nav>
    </div>

    <div class="slider">
        <div class="item">
            <div class="icons">
                <img src="../static/img/educacionsexual.PNG">
                <button id="next"><i id="" class="fa-solid fa-circle-arrow-right"></i></button>
            </div>
            <div class="product-txt">
                <h3>Derechos Sexuales y Reproductivos</h3>
                <p>
                    Que son, cuales son, porque son importantes y también algunos videos explicativos del tema para
                    mejor comprensión de los estudiantes.
                </p>
            </div>
            <a href="derechos.html" class="btn-1">Ver mas...</a>
        </div>

        <div class="item">
            <div class="icons">
                <button id="prev"><i class="fa-solid fa-circle-arrow-left"></i></button>
                <img src="../static/img/anatomiaF.PNG">
                <button id="next"><i id="" class="fa-solid fa-circle-arrow-right"></i></button>
            </div>
            <div class="product-txt">
                <h3>Anatomía del Sistema Reproductor Femenino</h3>
                <p>
                    Definición de sistema reproductor, anatomía del aparato reproductor femenino y masculino.
                </p>
            </div>
            <a href="anatomiaF.html" class="btn-1">Ver mas...</a>
        </div>

        <div class="item">
            <div class="icons">
                <button id="prev"><i class="fa-solid fa-circle-arrow-left"></i></button>
                <img src="../static/img/anatomiaH.PNG">
                <button id="next"><i id="" class="fa-solid fa-circle-arrow-right"></i></button>
            </div>
            <div class="product-txt">
                <h3>Anatomía del Sistema Reproductor Masculino</h3>
                <p>
                    Definición de sistema reproductor, anatomía del aparato reproductor femenino y masculino.
                </p>
            </div>
            <a href="anatomiaM.html" class="btn-1">Ver mas...</a>
        </div>

        <div class="item">
            <div class="icons">
                <button id="prev"><i class="fa-solid fa-circle-arrow-left"></i></button>
                <img src="../static/img/metodosanticoceptivos.PNG">
                <button id="next"><i id="" class="fa-solid fa-circle-arrow-right"></i></button>
            </div>
            <div class="product-txt">
                <h3>Metodos Anticonceptivos</h3>
                <p>
                    Que son, cuales son, y su correcto uso.
                </p>
            </div>
            <a href="anticonceptivos.html" class="btn-1">Ver mas...</a>
        </div>

        <div class="item">
            <div class="icons">
                <button id="prev"><i class="fa-solid fa-circle-arrow-left"></i></button>
                <img src="../static/img/Embarazo.png">
                <button id="next"><i id="" class="fa-solid fa-circle-arrow-right"></i></button>
            </div>
            <div class="product-txt">
                <h3>Embarazo</h3>
                <p>
                    Que es el embarazo, sus síntomas y cambios en el cuerpo de la mujer y la explicación de un embarazo
                    adolescente y sus consecuencias
                </p>
            </div>
            <a href="embarazo.html" class="btn-1">Ver mas...</a>
        </div>

        <div class="item">
            <div class="icons">
                <button id="prev"><i class="fa-solid fa-circle-arrow-left"></i></button>
                <img src="../static/img/ETS.png">
                <button id="next"><i id="" class="fa-solid fa-circle-arrow-right"></i></button>
            </div>
            <div class="product-txt">
                <h3>ETS</h3>
                <p>
                    Explicación de cada Enfermedad de Transmisión Sexual y las causas por las cuales la población se
                    contamina de estas enfermedades
                </p>
            </div>
            <a href="ets.html" class="btn-1">Ver mas...</a>
        </div>

        <div class="item">
            <div class="icons">
                <button id="prev"><i class="fa-solid fa-circle-arrow-left"></i></button>
                <img src="../static/img/ciclomenstrual.png">
            </div>
            <div class="product-txt">
                <h3>Ciclo Menstrual</h3>
                <p>
                    Con este ítem se quiere dar a conocer a los estudiantes de que se trata este procedimiento y cuáles
                    pueden ser las consecuencias si se realiza una intervención del embarazo ilegalmente y sin ningún
                    conocimiento.
                </p>
            </div>
            <a href="ciclomenstrual.html" class="btn-1">Ver mas...</a>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>